/* CSS reset */
* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;

  }
      
  /* Fixed width container class that will "auto-center" itself */
  .container {
    width: 1200px;
    margin: 0 auto;
  }

.btn {
    background-color: aliceblue;
    width: 200px;
    font-size: large;

}  